/* reset exist styles */
html, body {
    min-width: auto;
}

body {
    box-sizing: border-box;
}

#why_us,
.kitch_img,
.main_sl,
#last_kitchen .jshowoff {
    width: 100%;
}

.new_butt.cat.center {
    margin-top: 0;
    margin-bottom: 0;
}

#content {
    padding-bottom: 0;
}

#us_frm2 {
    height: 350px;
}

.page-id-1024 p .alignleft {
    float: none;
}

/* header */
.topshop-header-layout-standard .site-header-left {
    display: flex;
    width: auto;
    height: 151px;
    background: #f9f9f8;
    opacity: 0.9;
}

.topshop-header-layout-standard .site-header-left .top_logo {
    width: 225px;
    margin-left: 10px;
}

.topshop-header-layout-standard .site-header-left .top_zag {
    width: 625px;
    height: auto;
    padding-top: 45px;
    font-size: 34px;
}

.topshop-header-layout-standard .site-header-right {
    height: 151px;
}

.shrl {
    width: 230px;
    padding-top: 2px;
}

.shrr {
    padding-top: 5px;
}

/* menu */
.menu-wrapper {
    background: #95cb6e;
}

.menu-wrapper .navbar-nav {
    float: none;
}

.menu-wrapper .navbar-toggle {
    float: left;
    margin-left: 15px;
}

.menu-wrapper .navbar-toggle .icon-bar {
    background: #fff;
}

.main-navigation button:hover,
.main-navigation button:focus {
    background: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
}

/* stick menu */
#stick {
    z-index: 999;
}

/* main page */
.cycloneslider-template-default {
    background: #fff;
}

#main_catalog {
    background: #fff;
}

.new_buttWrapper {
    padding-top: 33px;
    padding-bottom: 33px;
    background: #fff;
}

#actions {
    background: #fff;
}

.action_img {
    width: 50%;
}

#last_kitchen {
    background: #fff;
}

#last_kitchen .zag {
    margin-bottom: 20px;
}

.new_buttWrapperGallery {
    padding-top: 10px;
    padding-bottom: 33px;
    background: #fff;
}

#primary {
    background: #fff;
}

.page .hentry {
    margin-bottom: 0;
}

#otzivi {
    background: #fff;
}

#polez {
    background: #fff;
    padding-bottom: 42px;
}

.otzWrapper {
    width: 98%;
    overflow: hidden;
    padding: 0 15px;
    margin: 0 auto;
}

#otzivi .owl-next {
    right: 8px;
}

#otzivi .owl-prev {
    left: 8px;
}

.pol_wr {
    display: flex;
    flex-flow: row wrap;
    padding: 0 15px;
    margin: 0 -15px;
}

.pol_item {
    display: block;
    width: calc(33.3333% - 30px);
    height: auto;
    margin: 0 15px;
    border: 2px solid #95cb6e;
}

.pol_zag {
    font-size: 15px;
}

/* catalog page */
.nx-breadcrumb {
    padding: 14px 20px 18px 35px;
    background: #fff;
}

.page-template-catalog #otzivi {
    margin-top: -21px;
}

.catalog_wr {
    display: flex;
    flex-flow: row wrap;
    padding: 0 15px;
    margin: 0 -15px 0 -5px;
}

.cat_it {
    display: block;
    width: calc(33.3333% - 30px);
}

.cta_label {
    height: 74px;
    bottom: 7px;
    width: 333px;
    font-size: 18px;
    padding-top: 10px;
}

.cta_label a {
    margin-right: 100px;
    padding: 0 12px;
    font-size: 17px;
}

div.new_buttt.kitch.center {
    right: 7px;
    margin-right: 0;
    margin-bottom: 0;
    bottom: 11px;
}

.cont_txt {
    padding: 0 42px 12px;
}

/* product page */
.kitchen_price {
    font-size: 14px;
    margin-top: 21px;
    padding-bottom: 20px;
}

.page-template-kitchen #rg-gallery {
    margin-top: 0;
}

.es-carousel-wrapper {
    background: #fff;
}

.page-template-kitchen .buttons.center {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0 15px 20px;
    background: #fff;
}

.page-template-kitchen #kitch_catalog {
    height: 320px;
    margin: 0;
    padding: 5px 0 33px;
    background: #fff;
}

.page-template-kitchen .cont_txt {
    padding: 0 42px 24px;
}

.page-template-kitchen .zagh2 {
    padding: 20px 0;
}

.zagh2.ind {
    padding: 20px 20px;
}

.page-template-kitchen div.new_butt.kitch.center {
    margin: 20px 18px 20px;
}

/* cart page */
.cart_form {
    margin: 0;
}

/* special */
.page-template-slujebka .zagh2 h1 {
    margin-bottom: 0;
}

/* presents */
.page-id-232 .zagh2 h1 {
    margin-bottom: -21px;
}

/* advantages */
.page-id-116 .zagh2 h1 {
    line-height: 50px;
}

/* testimonials */
.otzivi_wrapper {
    width: 100% !important;
}

.page-template-otzivi .ind {
    padding-bottom: 20px;
}

.page-template-otzivi .otz_it.otz2 {
    display: block;
    width: 90%;
    margin: 0 auto 38px;
}

.page-template-otzivi #otzivi {
    padding-bottom: 20px;
    margin-bottom: -20px;
}

.page-template-otzivi .otz_it.otz2 .otz_r {
    width: 100%;
}

.page-template-otzivi .otz_it.otz2 .kname {
    width: 100%;
}

.page-template-otzivi .otz_it.otz2 .otz_d {
    width: 100%;
}

/* footer */
footer .container .containerInner {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    width: 100%;
    background: #f0f0ee;
    padding: 10px 0;
}

#menu-nizhnee-menyu li:first-child {
    margin-right: 10px;
}

.ft_left {
    width: 249px;
}

/* Desktop First */
@media screen and (max-width: 1200px) {
    /* header */
    .topshop-header-layout-standard .site-header-left .top_zag {
        width: 425px;
        padding-top: 28px;
        font-size: 33px;
    }

    /* main page */
    #why_us {
        background-size: cover;
        background-position: -115px 0;
    }

    .why_us.us1 {
        top: 251px;
        left: 80px;
        width: 149px;
    }

    .why_us.us2 {
        top: 251px;
        left: 371px;
        width: 163px;
    }

    .why_us.us3 {
        top: 251px;
        left: 679px;
        width: 203px;
    }

    .why_us.us4 {
        top: 479px;
        left: 229px;
        width: 203px;
    }

    .why_us.us5 {
        top: 479px;
        left: 566px;
        width: 124px;
    }

    .new_buttWrapper {
        padding-top: 63px;
    }

    /* catalog page */
    .cat_it {
        display: block;
        width: calc(50% - 30px);
    }

    .otz_r {
        width: 100%;
        height: 228px;
    }

    .catalog_txt {
        width: 100%;
        height: 226px;
    }

    .catalog_txt a {
        display: block;
    }

    .catalog_txt img {
        display: block;
        width: 100%;
        height: auto;
    }

    .cta_label {
        bottom: 0;
        width: 100%;
    }

    .cta_label a {
        margin-top: 10px;
    }

    /* product page */
    div#kitch_head {
        width: 100%;
        padding: 0 15px;
    }

    .some_selector {
        height: 57px;
    }

    #kitch_head .tab_selector ul {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }

    #kitch_head .tab_selector ul li {
        display: block;
        width: 20%;
    }

    .page-template-kitchen #kitch_catalog {
        height: 420px;
    }

    .page-template-kitchen .kitc_selector {
        display: flex;
        flex-flow: row wrap;
    }

    .page-template-kitchen .kit_it {
        display: block;
        min-width: auto;
        width: 25%;
    }

    .page-template-kitchen .kit_it.this_it {
        height: 150px;
    }

    .page-template-kitchen .kit_it img {
        display: block;
        width: 100%;
        height: 100%;
    }

    .page-template-kitchen .kit_it a {
        display: block;
    }

    .page-template-kitchen .kit_tb_kitch {
        top: 0;
        width: 100%;
        height: 100%;
    }

    .tabs_on_kitch {
        z-index: 99;
        top: 0;
    }

    .kitchenAcs {
        padding: 0 25px;
        overflow: hidden;
    }

    div#complect {
        width: 100%;
    }

    /* cart page */
    .cart_form {
        height: 415px;
    }

    div#cart_form input[type=text] {
        width: 100%;
    }

    .page-template-cart .cont_txt {
        padding: 0 15px 12px;
    }

    .page-template-cart .tb {
        font-size: 14px;
    }

    .page-template-cart .td {
        padding: 20px;
    }

    .zagh2 {
        padding-bottom: 15px;
    }

    input#cart_nam3 {
        margin-right: 0;
    }

    /* footer */
    .ft_ct .menu-item-has-children {
        width: 48%;
    }

    .ft_ct {
        width: 354px;
    }

    .ft_right {
        width: 337px;
    }

    .ft_back {
        margin-top: 14px;
    }

    .ft_back div:nth-child(2) {
        margin-top: 16px;
    }
}

@media screen and (max-width: 992px) {
    /* header */
    .topshop-header-layout-standard .site-header-left .top_logo {
        width: 194px;
        margin-left: 10px;
    }

    .topshop-header-layout-standard .site-header-left .top_zag {
        width: 236px;
        padding-top: 14px;
        font-size: 28px;
    }

    /* main page */
    #why_us {
        display: flex;
        flex-flow: row wrap;
        height: auto;
        min-height: 439px;
        padding: 21px;
        background-position: -62px 0;
        background-size: 117%;
    }

    #why_us div {
        position: static;
    }

    .zag {
        width: 100%;
        font-size: 26px;
    }

    .why_us.us1 {
        width: 33.3333%;
    }

    .why_us.us2 {
        width: 33.3333%;
    }

    .why_us.us3 {
        width: 33.3333%;
    }

    .why_us.us4 {
        width: 50%;
    }

    .why_us.us5 {
        width: 50%;
    }

    .kit_selector {
        display: flex;
        flex-flow: row wrap;
    }

    .kit_it {
        display: block;
    }

    .new_buttWrapper {
        padding-top: 231px;
    }

    .otz_it {
        margin-left: 170px;
    }

    .pol_item {
        display: block;
        width: calc(100% - 30px);
        height: auto;
        margin: 0 15px 18px;
        border: 2px solid #95cb6e;
    }

    /* catalog page */
    .cat_it {
        width: calc(100% - 30px);
    }

    .cta_label {
        bottom: 0;
        width: 100%;
    }

    .cta_label a {
        margin-top: 10px;
        margin-right: 90px;
        line-height: 20px;
    }

    /* product page */
    .page-template-kitchen .new_buttWrapper {
        padding-top: 26px;
    }

    /* cart page */
    .page-template-cart .tb {
        display: block;
        overflow-x: auto;
    }

    .page-template-cart .tr {
        display: flex;
        min-width: 600px;
    }

    .page-template-cart .th {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        font-size: 15px;
        text-align: left;
        text-indent: 0;
    }

    .page-template-cart .td {
        display: block;
        height: auto;
        width: 25%;
        line-height: 28px;
        text-align: left;
        text-indent: 0;
        font-size: 14px;
    }

    .page-template-cart .td img {
        margin-left: 0;
        margin-bottom: 16px;
    }

    .page-template-cart .td a {
        display: block;
        font-size: 16px;
        text-align: left;
        text-indent: 0;
    }

    /* all for kitchen */
    .parent-pageid-352 td {
        display: block;
    }

    .parent-pageid-352 td img {
        max-width: 78%;
        margin-left: -20px;
    }

    /* footer */
    #menu-nizhnee-menyu li:first-child {
        margin-right: 2px;
    }

    .ft_left {
        width: 50%;
    }

    .ft_ct {
        width: 50%;
    }

    .ft_right {
        width: 86%;
        padding-top: 16px;
        margin: 0 auto;
    }

    .ft_back {
        margin-top: 0;
    }

    .ft_back div:nth-child(2) {
        margin-top: 7px;
    }

    footer .container .containerInner {
        padding: 10px 0 16px;
    }
}

@media screen and (max-width: 768px) {
    /* header */
    .topshop-header-layout-standard .site-header-left {
        display: flex;
        width: 100%;
    }

    .topshop-header-layout-standard .site-header-left .top_logo {
        width: 32%;
    }

    .topshop-header-layout-standard .site-header-left .top_zag {
        width: 68%;
        padding-top: 26px;
        font-size: 30px;
    }

    .topshop-header-layout-standard .site-header-right {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    /* menu */
    .menu-verhnee-menyu-container .menu::after {
        content: '';
        display: block;
        clear: both;
    }

    .main-navigation ul {
        display: block;
    }

    .main-navigation li {
        float: none;
    }

    .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
    }

    .main-navigation a {
        text-align: left;
    }

    header .current_page_item > a {
        box-shadow: none;
    }

    .menu-dropdown-btn {
        display: block;
        height: 51px;
        width: 51px;
        line-height: 36px;
        font-size: 21px;
    }

    .main-navigation ul li:hover > ul {
        display: none;
    }

    .main-navigation ul ul li:hover > ul {
        display: none;
    }

    .main-navigation ul li.open-page-item > ul {
        display: block;
    }

    .main-navigation ul ul li.open-page-item > ul {
        display: block;
    }

    .main-navigation ul li.open-page-item > span .fa {
        transform: rotate(180deg);
    }

    .main-navigation ul ul {
        position: static;
        float: none;
    }

    /* stick menu */
    #stick {
        z-index: 999;
        top: 84%;
    }

    /* main page */
    #why_us {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefefe+6,e0e3d0+29,c9de96+53,c9de96+64,c9de96+64,95cb6e+94 */
        background: #fefefe; /* Old browsers */
        background: -moz-linear-gradient(top, #fefefe 6%, #e0e3d0 29%, #c9de96 53%, #c9de96 64%, #c9de96 64%, #95cb6e 94%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #fefefe 6%,#e0e3d0 29%,#c9de96 53%,#c9de96 64%,#c9de96 64%,#95cb6e 94%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #fefefe 6%,#e0e3d0 29%,#c9de96 53%,#c9de96 64%,#c9de96 64%,#95cb6e 94%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#95cb6e',GradientType=0 ); /* IE6-9 */
    }

    .why_us.us1:before {
        content: "1";
        display: block;
        width: 100%;
        height: 24px;
        margin-bottom: 20px;
        font-size: 28px;
    }

    .why_us.us2:before {
        content: "2";
        display: block;
        width: 100%;
        height: 24px;
        margin-bottom: 20px;
        font-size: 28px;
    }

    .why_us.us3:before {
        content: "3";
        display: block;
        width: 100%;
        height: 24px;
        margin-bottom: 20px;
        font-size: 28px;
    }

    .why_us.us4:before {
        content: "4";
        display: block;
        width: 100%;
        height: 24px;
        margin-bottom: 20px;
        font-size: 28px;
    }

    .why_us.us5:before {
        content: "5";
        display: block;
        width: 100%;
        height: 24px;
        margin-bottom: 20px;
        font-size: 28px;
    }

    .cat_selector ul {
        display: flex;
        flex-flow: row wrap;
    }

    .cat_selector li {
        display: block;

    }

    .new_buttWrapperGallery {
        padding-bottom: 10px;
    }

    .action_img {
        width: 100%;
    }

    .action_img img {
        width: 100%;
    }

    .act_txt {
        padding: 374px 30px 20px;
    }

    .entry-content {
        padding: 33px 30px 70px;
    }

    /* form calculate */
    #us_frm4 {
        width: 90%;
    }

    .form_header {
        height: 40px;
        line-height: 30px;
        padding: 6px 1px 6px 12px;
        font-size: 15px;
    }

    .form_header .fa {
        font-size: 21px;
        margin-right: 7px;
        margin-top: 5px;
    }

    form.frm4 {
        font-size: 16px;
        width: 100%;
    }

    .user_form form {
        padding: 21px 21px 62px;
    }

    .frm4 input[type="file"] {
        display: block;
        width: 100%;
        font-size: 15px;
    }

    .fs-type {
        width: 100%;
    }

    .user_form textarea {
        width: auto;
        font-size: 16px;
    }

    .butt_orWrapper {
        display: block;
        padding: 10px 0;
        background: #fff;
    }

    .butt_or {
        height: 48px;
        padding: 0 21px;
        width: 222px;
    }

    .user_form button {
        margin-top: 0;
    }

    /* form callback */
    #us_frm2 input#us_tel2 {
        margin-bottom: 12px;
    }

    /* catalog page */
    .nx-breadcrumb {
        padding-top: 14px;
        padding-left: 20px;
    }

    .cont_txt {
        padding: 0 15px 12px;
    }

    .cont_txt h2 {
        font-size: 24px;
    }

    /* product page */
    .page-template-kitchen #kitch_catalog {
        height: 492px;
    }

    .page-template-kitchen #kitch_catalog .cat_selector ul {
        padding: 0 15px;
    }

    /* all for kitchen */
    .parent-pageid-324 td {
        display: block;
    }

    .parent-pageid-324 td img {
        max-width: 78%;
        margin-left: -20px;
    }

    .parent-pageid-324 h1 {
        line-height: 32px;
    }

    .parent-pageid-324 h2 {
        font-size: 22px;
        text-align: center;
    }

    .parent-pageid-345 h1 {
        line-height: 32px;
    }

    .parent-pageid-345 td img {
        max-width: 78%;
        margin-left: -20px;
    }

    .parent-pageid-612 td img {
        max-width: 78%;
        margin-left: -20px;
    }

    .parent-pageid-612 h2 {
        font-size: 22px;
        text-align: center;
        line-height: 30px;
    }

    .page-id-612 td {
        display: block;
    }

    .page-id-612 td p:first-child {
        text-align: left !important;
    }

    .page-id-612 td p:first-child a {
        margin-left: 10px;
    }

    .parent-pageid-349 td img {
        max-width: 78%;
        margin-left: -20px;
    }

    .parent-pageid-349 h1 {
        line-height: 32px;
    }

    .page-id-1024 h1 {
        line-height: 32px;
    }

    .page-id-1024 img {
        max-width: 78%;
    }

    .parent-pageid-356 h1 {
        line-height: 32px;
    }

    .parent-pageid-356 td {
        display: block;
    }

    .parent-pageid-356 td img {
        max-width: 78%;
        margin-left: -20px;
    }

    .parent-pageid-1611 h1 {
        padding-top: 10px;
        line-height: 32px;
    }

    .parent-pageid-1611 h2 {
        font-size: 20px;
        text-align: center;
    }

    .parent-pageid-1667 h1 {
        padding-top: 10px;
        line-height: 32px;
    }

    .parent-pageid-1667 h2 {
        font-size: 20px;
        text-align: center;
    }

    .parent-pageid-1669 h1 {
        padding-top: 10px;
        line-height: 32px;
    }

    .parent-pageid-1669 h2 {
        font-size: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 700px) {
    /* main page */
    .cat_selector li {
        width: 33.3333%;
    }

    .new_buttWrapper {
        padding-top: 278px;
    }

    #actions .zag {
        font-size: 17px;
        margin-bottom: 18px;
    }

    #actions p {
        font-size: 16px;
    }

    .entry-content p {
        font-size: 16px;
    }

    .otz_it {
        margin-left: 120px;
    }
}

@media screen and (max-width: 600px) {
    /* main page */
    .zag {
        font-size: 18px;
        line-height: inherit;
        margin-bottom: 15px;
    }

    .why_us.us1 {
        width: 50%;
    }

    .why_us.us2 {
        width: 50%;
    }

    .why_us.us3 {
        width: 50%;
    }

    .act_txt {
        padding: 265px 15px 20px;
    }

    #otzivi {
        padding-bottom: 20px;
    }

    .otz_it {
        margin-left: 86px;
    }

    /* product page */
    #kitch_head .tab_selector ul li {
        width: 50%;
    }

    #kitch_head .tab_selector ul li a {
        text-align: left;
        padding: 14px 6px 14px 0;
    }

    .page-template-kitchen #kitch_catalog {
        height: 826px;
    }

    .page-template-kitchen .kit_it {
        width: 50%;
    }

    /* footer */
    footer .container .containerInner {
        padding: 10px 15px;
    }

    #menu-nizhnee-menyu li:first-child {
        margin-right: 0;
    }

    .ft_ct .menu-item-has-children {
        width: 100%;
    }

    .ft_left {
        width: 100%;
        padding: 30px 30px 0;
        text-align: center;
    }

    .ft_left img {
        display: block;
        margin: 0 auto;
    }

    .ft_ct {
        width: 100%;
    }

    .ft_ct .menu-item {
        display: block;
        width: 100%;
    }

    .ft_ct .menu-item a {
        display: block;
        margin-bottom: 12px;
        text-align: center;
    }

    .ft_back {
        margin-top: 14px;
    }

    .ft_back div:nth-child(2) {
        margin-top: 17px;
    }

    .ft_right {
        padding-right: 0;
    }
}

@media screen and (max-width: 480px) {
    /* header */
    .topshop-header-layout-standard .site-header-left {
        height: 125px;
    }

    .topshop-header-layout-standard .site-header-left .top_zag {
        font-size: 25px;
    }

    /* main page */
    #why_us div {
        margin-bottom: 12px;
    }

    .why_us.us1 {
        width: 100%;
    }

    .why_us.us2 {
        width: 100%;
    }

    .why_us.us3 {
        width: 100%;
    }

    .why_us.us4 {
        width: 100%;
    }

    .why_us.us5 {
        width: 5100%;
    }

    .cat_selector li {
        width: 50%;
    }

    .kitch_it_pr_name {
        font-size: 20px;
    }

    .kit_it {
        width: 50%;
    }

    .kit_it img {
        width: 100%;
        height: 150px;
    }

    .kit_it_tb {
        display: block;
        width: 100%;
    }

    .kit_tb {
        width: 100%;
        height: 100%;
    }

    .kit_tbp {
        display: block;
        width: 100%;
        height: 100%;
    }

    .kit_tb_c {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .new_buttWrapper {
        padding-top: 448px;
    }

    .act_txt {
        padding: 242px 15px 20px;
    }

    #actions p {
        font-size: 14px;
    }

    .entry-content p {
        font-size: 14px;
    }

    .entry-content h1 {
        font-size: 27px;
        line-height: 33px;
    }

    .entry-content h2 {
        font-size: 24px;
    }

    .jshowoff-controls {
        width: 100% !important;
    }

    .jshowoff-prev {
        left: calc(50% - 44px) !important;
    }

    .jshowoff-next {
        left: auto !important;
        right: calc(50% - 44px) !important;
    }

    .otz_it {
        margin-left: 20px;
    }

    /* product page */
    #kitch_head .tab_selector ul li:first-child {
        width: 100%;
        padding: 15px 0 4px;
    }

    .kitchen_price span {
        font-size: 18px;
    }

    .zagh2 {
        font-size: 19px;
    }

    #complect div.comp_cat {
        margin-left: 100px;
    }

    .page-template-kitchen #kitch_catalog {
        height: 912px;
    }

    .page-template-kitchen div.new_butt.kitch.center {
        font-size: 14px;
    }

    .ind {
        padding: 0 38px;
    }

    .page-template-kitchen .cont_txt {
        padding: 0 5px 24px;
    }

    .zag.kitch h1 {
        font-size: 26px;
    }

    /* cart page */
    .cart_form {
        height: 448px;
    }
}

@media screen and (max-width: 400px) {
    /* header */
    .topshop-header-layout-standard .site-header-left {
        height: 125px;
    }

    .topshop-header-layout-standard .site-header-left .top_zag {
        font-size: 22px;
    }

    .kitch_it_pr,
    .kitch_bord1,
    .kitch_bord2,
    .kitch_price {
        width: 100%;
    }

    .kitch_it_pr_name {
        font-size: 18px;
    }

    .kitch_price {
        height: 150px;
    }

    .entry-content h1 {
        font-size: 22px;
        line-height: 33px;
    }

    .entry-content h2 {
        font-size: 19px;
    }

    .entry-content {
        padding: 33px 15px;
    }

    .otz_it {
        display: block;
        min-width: 300px;
        width: 300px;
        height: 250px;
        padding: 34px;
        margin: 10px;
    }

    .otz_r {
        width: 300px;
        height: 266px;
        display: block;
    }

    .otz_txt {
        width: 100%;
        margin: 0;
    }

    .kname {
        width: 80%;
    }

    .otz_d {
        width: 76%;
    }

    #otzivi .owl-next {
        right: 3px;
    }

    #otzivi .owl-prev {
        left: 3px;
    }

    /* catalog page */
    .page-template-catalog .otz_r {
        width: 100%;
        height: 246px;
    }

    .cta_label {
        height: 77px;
        padding-top: 0;
    }

    .cta_label a {
        margin-right: 100px;
        font-size: 15px;
    }

    /* product page */
    .parameters {
        font-size: 12px;
    }

    #complect div.comp_cat {
        margin-left: 44px;
    }

    /* form callback */
    #us_frm2 {
        width: 93%;
        height: 386px;
    }

    /* footer */
    .butt_ora {
        font-size: 11px;
    }
}

@media screen and (max-width: 360px) {
    /* main page */
    .kit_it {
        width: 100%;
        height: auto;
    }

    .kit_it img {
        display: block;
        height: auto;
    }

    .new_buttWrapper {
        padding-top: 1736px;
        padding-left: 15px;
        padding-right: 15px;
    }

    a.new_butt.cat.center {
        width: 100%;
        font-size: 11px;
    }

    #actions p {
        font-size: 13px;
    }

    .entry-content p {
        font-size: 13px;
    }

    .otz_it {
        min-width: 280px;
        width: 280px;
    }

    .otz_r {
        width: 280px;
    }

    /* product page */
    #complect div.comp_cat {
        margin-left: 25px;
    }
}

@media screen and (max-width: 325px) {
    /* header */
    .topshop-header-layout-standard .site-header-left .top_zag {
        padding-top: 14px;
    }

    /* main page */
    .otz_it {
        width: 244px;
        min-width: 233px;
        height: 326px;
    }

    .otz_r {
        width: 244px;
        height: 326px;
    }

    .kname {
        bottom: 46px;
    }

    .otz_d {
        bottom: 9px;
    }
}