/*
Theme Name: TopShop
Theme URI: http://kairaweb.com/theme/topshop/
Author: Kaira
Author URI: http://www.kairaweb.com/
Description: TopShop is the perfect theme for all users from the beginner to the developer. With all our settings built neatly into the customizer you can easily edit the website live before publishing. We've packed a lot of settings into TopShop from 2 header layouts, full-width or boxed website, different blog layouts, adding social links, unlimited color selection and being able to change the colors of lots of elements from fonts to naviagtion and lots lots more. We've integrated with some of the best plugins such as SiteOrigin's Page Builder to easily build any page layouts you want, WooCommerce to simply turn your website into an online store, Meta Slider for slick responsive sliders and lots more. For the developers we've added hooks all around the theme to easily add on custom elements or extra functionality. There's also the option of upgrading to premium for a cheap price. Go on... give it a try!
Version: 1.2.8
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: topshop
Tags: black, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, fluid-layout, light, responsive-layout, threaded-comments, white

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

 topshop is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Typography
3.0 Elements
4.0 Forms
5.0 Navigation
	5.1 Links
	5.2 Menus
6.0 Accessibility
7.0 Alignments
8.0 Clearings
	8.1 TopShop Univeral Styling
	8.2 TopShop Content Layout Styling
	8.3 TopShop Theme Styling
9.0 Widgets
10.0 Content
	10.1 Posts and pages
	10.2 Asides
	10.3 Comments
11.0 Infinite scroll
12.0 Media
	12.1 Captions
	12.2 Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/
@font-face{
	font-family:'rhinol';
	src:url(fonts/CoreRhino35Light.otf);
}
@font-face{
	font-family:'rhinom';
	src:url(fonts/CoreRhino55Medium.otf);
}
@font-face{
	font-family:'rhinob';
	src:url(fonts/CoreRhino85Black.otf);
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
	font-family:'rhinol';
}

html {
	font-size: 18px; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centered in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust:     100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
	box-sizing: border-box; /* Apply a natural box layout model to the document; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
	min-width:1200px;
}
*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background:url(images/kitchen-main.png) 50% 0 no-repeat; /* Fallback for when there is no custom background color defined. */
background-color: #c9de96;
@include filter-gradient(#c9de96, #398235, horizontal);
@include background-image(linear-gradient(left top,  #c9de96 0%,#8ab66b 66%,#398235 100%));
	min-width:1200px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

a:focus {
	
}

a:hover,
a:active {
	outline: 0;
}

a img {
	border: 0;
}

/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
    color: #4F4F4F;
    font-family: sans-serif;
    font-size: 13px;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
}

p {
    margin-bottom: 1.5em;
}

b,
strong {
    font-weight: bold;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code,
kbd,
tt,
var {
    font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

sup,
sub {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

small {
    font-size: 75%;
}

big {
    font-size: 125%;
}

/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul,
ol {
    margin: 0 0 1.5em 3em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
}

figure {
    margin: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.03);
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}

th {
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: 300;
    line-height: 1.0em;
    word-wrap: break-word;
    color: #5E5E5E;
    margin-top: 0;
}

h1 {
    font-size: 32px;
    margin-bottom: .55em;
}

h2 {
    font-size: 28px;
    margin-bottom: .65em;
}

h3 {
    font-size: 22px;
    margin-bottom: .8em;
}

h4 {
    font-size: 20px;
    margin-bottom: 1.1em;
}

h5 {
    font-size: 16px;
    margin-bottom: 1.3em;
}

h6 {
    font-size: 14px;
    margin-bottom: 1.4em;
}

.entry-content code {
    display: block;
    background: #f7f7f7;
    border: 1px solid #D8D8D8;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09);
    margin: 5px 0;
    overflow-x: auto;
}

/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid rgba(0, 0, 0, 0.14);
	border-radius: 3px;
	color: #FFF;
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	padding: 10px 25px;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 100%;
}

/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
a {
	text-decoration: none;
}

a:visited {
	
}

a:hover,
a:focus,
a:active {
	
}

/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
.main-navigation {
	display: block;
}

.main-navigation.header-stick.stuck {
	background-color: #FFF;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.015);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 58px;
	z-index: 99999;
}

.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	display: table;
    margin: 0 auto;
}
.main-navigation ul.nav-menu {
    
}

.main-navigation li {
	position: relative;
	display: block;
	float: left;
}

.main-navigation a {
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 15px 21px 16px;
	font-size: 13px;
	text-transform: uppercase;
	white-space: nowrap;
	text-align: center;
    
    -webkit-transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
     -moz-transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
      -ms-transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
       -o-transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
          transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
}
.main-navigation a:hover {
    color: #FFF;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.95);
	float: left;
	position: absolute;
	top: 50px;
	left: -999em;
	z-index: 99999;
	display: none;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
	display: none;
}

.main-navigation ul ul a {
	width: 200px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
	white-space: nowrap;
	text-align: left;
	width: auto;
	padding: 15px 32px 15px 20px;
	min-width: 190px;
	color:#4f4f4f;
}

.main-navigation ul ul li {
	width: 100%;
}

.main-navigation li:hover > a {
}

.main-navigation ul ul :hover > a {
}

.main-navigation ul ul a:hover {
}

.main-navigation ul li:hover > ul {
	left: auto;
	display: block;
}

.main-navigation ul ul li:hover > ul {
	left: 100%;
	display: block;
}

.main-navigation li.current-menu-item > a,
.main-navigation li.current_page_item > a,
.main-navigation li.current-menu-parent > a,
.main-navigation li.current_page_parent > a,
.main-navigation li.current-menu-ancestor > a,
.main-navigation li.current_page_ancestor > a {
    color: #FFF;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a {
}

.header-menu-button,
.main-menu-close {
    display: none;
}
.menu-dropdown-btn {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.1);
    color: #838383;
    margin: 0;
    padding: 10px 14px;
    /* box-shadow: -1px 0 0 rgba(0, 0, 0, 0.08); */
    height: 35px;
    line-height: 15px;
    text-align: center;
    font-size: 14px;
    z-index: 9;
    cursor: pointer;
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
6.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/*--------------------------------------------------------------
8.0 Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
8.1 TopShop Univeral Styling
--------------------------------------------------------------*/
.clearboth {
	clear: both;
}
.border-bottom {
	/*border-bottom: 1px solid rgba(0, 0, 0, 0.08);*/
}
.border-top {
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.08);*/
}

/*--------------------------------------------------------------
8.2 TopShop Content Layout Styling
--------------------------------------------------------------*/

.woocommerce #container,
.woocommerce-page #container,
.content-area {
	width: 75%;
	float: left;
	padding: 0 2% 0 0;
}

.widget-area {
	width: 25%;
	float: left;
	padding: 15px 0 0 2%;
}
.home .widget-area {
    padding-top: 22px !important;
}
.woocommerce .widget-area,
.woocommerce-page .widget-area {
    padding-top: 45px !important;
}
.woocommerce-cart .widget-area,
.woocommerce-checkout .widget-area,
.woocommerce-account .widget-area,
.single-product.woocommerce .widget-area,
.single-product.woocommerce-page .widget-area {
    padding-top: 15px !important;
}
.blog .widget-area {
    padding-top: 15px !important;
}

.page-template-template-left-sidebar-php .content-area {
	width: 75%;
	float: left;
	padding: 0 0 0 2%;
}

.page-template-template-left-sidebar-php .widget-area {
	width: 25%;
	float: left;
	padding: 15px 2% 0 0;
}

.error404 .content-area,
.page-template-template-full-width-php .content-area,
.woocommerce .content-no-sidebar #container,
.woocommerce-page .content-no-sidebar #container,
.content-no-sidebar .content-area {
	float: none;
	width: 100%;
	padding: 0;
}

.woocommerce .breadcrumbs,
.woocommerce-page .breadcrumbs,
.woocommerce .entry-header.site-container,
.woocommerce-page .entry-header.site-container {
    display: none;
}

.page-template-default .content-area {
    box-shadow: -1px 0 0 #eaeaea inset;
}

.page-template-template-left-sidebar-php .content-area {
    box-shadow: -1px 0 0 #eaeaea;
}

.page-template-default .widget-area {
    box-shadow: -1px 0 0 #eaeaea;
}

.page-template-template-left-sidebar-php .widget-area {
    box-shadow: -1px 0 0 #eaeaea inset;
}

.content-no-sidebar .content-area,
.page-template-template-full-width-php .content-area,
.page-template-template-full-width-php .widget-area {
    box-shadow: none;
}

/*--------------------------------------------------------------
8.3 TopShop Theme Styling
--------------------------------------------------------------*/
#page {
    position: relative;
    right: 0;
    
    -webkit-transition: right 0.4s ease 0s;
     -moz-transition: right 0.4s ease 0s;
      -ms-transition: right 0.4s ease 0s;
       -o-transition: right 0.4s ease 0s;
          transition: right 0.4s ease 0s;
}
.site-container {
	max-width: 1170px;
	margin: 0 auto;
	background:#fdfdfc;
}

.site-header {
	/*background-color: #FFF;*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.015);
	margin: 0;
}
.home .site-header {
    margin: 0;
}
.site-top-bar .site-container {
    position: relative;
}

.site-top-bar ul {
    margin: 0;
    padding: 0;
}
.site-top-bar ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.08);
}
.site-top-bar ul li a {
    display: block;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    color: #777;
    padding: 0 7px;
}

.site-top-bar .search-block {
    position: absolute;
    bottom: 2px;
    right: 20px;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);
    padding: 30px 0 6px 6px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-top: 0;
    background-color: #ffffff;
    z-index: 96;
}
.site-top-bar .search-block .search-field {
    margin: 0;
    padding: 4px 9px;
    height: 23px;
    width: 270px;
    color: #898989;
    outline: none;
}
.site-top-bar .search-block .search-submit {
    padding: 0;
    
    background-image: url(images/search_btn_bg.png) !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    height: 33px;
    width: 34px;
    position: relative;
    right: 6px;
}

.blog .entry-header.site-container {
    margin: 0 0 25px;
}

.no-results.not-found,
.error-404.not-found {
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 210px 40px;
	text-align: center;
}
.no-results.not-found .page-header,
.error-404.not-found .page-header {
	display: inline-block;
	vertical-align: top;
}
.no-results.not-found .page-header .page-title,
.error-404.not-found .page-header .page-title {
	color: #000;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-size: 58px;
}
.no-results.not-found .page-header .page-title {
    font-size: 38px;
}
.no-results.not-found .page-content,
.error-404.not-found .page-content {
	box-shadow: -1px 0 0 rgba(0, 0, 0, 0.08);
	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin: 0 0 0 10px;
	padding: 0 0 4px 15px;
	font-size: 15px;
	line-height: 24px;
}
.no-results.not-found .page-content {
    max-width: 40%;
    
    font-size: 13px;
    line-height: 18px;
    padding: 0 0 0 14px;
}
.no-results.not-found .page-content p,
.error-404.not-found .page-content p {
	margin: 0;
	padding: 0;
}

.no-results-btn {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: 500;
    margin: 20px 0 0;
    padding: 5px 20px;
    border-radius: 3px;
    color: #ffffff !important;
}

.woocommerce h1.page-title,
.woocommerce-page h1.page-title {
    margin: 0 0 9px;
    padding: 0;
}

/* -------- Breadcrumbs Styling -------- */
.breadcrumbs {
    line-height: 15px;
    font-size: 11px;
    text-transform: uppercase;
    margin: 0 0 20px;
    color: #777;
}


/* -------- Home Slider Styling -------- */

.home-slider-wrap {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    position: relative;
    width: 100%;
    margin: 0 0 20px;
}
.home-slider-remove { 
    height: 403px !important;
    overflow: hidden;
    background-image: url(images/loader.gif);
    background-repeat: no-repeat;
    background-position: center center;
}
.home-slider-remove .home-slider { 
    visibility: hidden;
}
.home-slider div {
    float: left;
    position: relative;
}
.home-slider div h3 {
    color: #FFF;
    font-size: 48px;
    letter-spacing: 1px;
    margin: -26px 0 0;
    padding: 0;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    top: 50%;
    width: 100%;
    z-index: 8;
}
.home-slider div h3 a {
    color: #fff;
}
.home-slider img {
    display: block;
    width: 100%;
    height: auto;
}
.home-slider-pager {
    bottom: 0;
    height: 30px;
    position: absolute;
    text-align: center;
    width: 100%;
}
.home-slider-pager a.selected span {
    background-color: #ffffff;
    position: relative;
}
.home-slider-pager a {
    display: inline-block;
    vertical-align: middle;
    padding: 3px 2px;
}
.home-slider-pager span {
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    display: inline-block;
    height: 8px;
    line-height: 0;
    overflow: hidden;
    text-indent: -100px;
    width: 8px;
}

.home-slider-prev,
.home-slider-next {
    position: absolute;
    top: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 200px;
    color: #FFFFFF;
    line-height: 50px;
    margin: -26px 0 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
    width: 50px;
    text-align: center;
    font-size: 27px;
    opacity: 0;
    cursor: pointer;
    z-index: 9;
    transform: scale(0.7);
    
    -webkit-transition: all 0.2s ease 0s;
     -moz-transition: all 0.2s ease 0s;
      -ms-transition: all 0.2s ease 0s;
       -o-transition: all 0.2s ease 0s;
          transition: all 0.2s ease 0s;
}
.home-slider-prev {
    left: 5px;
}
.home-slider-next {
    right: 5px;
}
.home-slider-prev i,
.home-slider-next i {
    font-size: 0.8em;
    position: relative;
    top: -3px;
}
.home-slider-wrap:hover .home-slider-prev,
.home-slider-wrap:hover .home-slider-next {
    opacity: 1;
    transform: scale(1);
}
.home-slider-wrap:hover .home-slider-prev.disabled,
.home-slider-wrap:hover .home-slider-next.disabled {
    opacity: 0.4;
    cursor: default;
}


/* -------- Extra Styling -------- */
.search-btn {
    cursor: pointer;
    color: #969696;
}
/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

.widget-area .widget {
    margin: 0 0 25px;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}
.widget-area .widget .search-field {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 8px;
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}

.widget-area .widget-title {
    padding: 0 0 6px;
    margin: 0 0 10px 0;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    border-bottom: 1px solid #EAEAEA;
    font-weight: 600;
    color: #4D4D4D;
}

.widget-area .widget ul {
    margin: 0;
    padding: 0;
}
.widget-area .widget ul li {
    margin: 0 0 2px;
    padding: 0;
    list-style-type: none;
}
.widget-area .widget ul li a {
    
}

/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	margin: 0 0 30px;
	padding: 0 0 30px;
}
.page .hentry {
    border: 0;
    margin: 0 0 25px;
    padding: 0;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content img,
.entry-content img,
.entry-summary img {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.03);
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.wp-caption img {
    box-shadow: none;
}

/* -------- Post Images Carousel -------- */
.blog-post-side-layout .post-loop-images {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    width: 32%;
    float: left;
    border-radius: 3px;
    overflow: hidden;
}
.blog-post-side-layout .post-loop-images img {
	display: block;
	margin: 0;
}
.post-no-img .post-loop-images {
    display: none;
}
.blog-post-side-layout .post-loop-content {
    width: 68%;
    padding: 6px 0 4px 3.5%;
    float: left;
}
.blog-post-side-layout.post-no-img .post-loop-content {
    width: 100%;
    padding: 20px 0;
    float: none;
}

.post-loop-images-carousel-wrapper {
    position: relative;
}
.post-loop-images-carousel-wrapper-remove {
    background-image: url(images/loader.gif);
    background-position: center center;
    background-repeat: no-repeat;
    height: 220px;
    overflow: hidden;
}
.post-loop-images-prev,
.post-loop-images-next {
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 3px;
    cursor: pointer;
    height: 38px;
    color: #FFF;
    text-align: center;
    font-size: 22px;
    line-height: 22px;
    margin: -16px 0 0;
    padding: 5px 0 0;
    position: absolute;
    top: 50%;
    width: 34px;
    z-index: 9;
    opacity: 0;
    transform: scale(0.8);
    
    -webkit-transition: all 0.2s ease 0s;
     -moz-transition: all 0.2s ease 0s;
      -ms-transition: all 0.2s ease 0s;
       -o-transition: all 0.2s ease 0s;
          transition: all 0.2s ease 0s;
}
.post-loop-images-prev {
    left: 8px;
}
.post-loop-images-next {
    right: 8px;
}
.blog-post-side-layout .post-loop-images-carousel {
    
}
.post-loop-images-carousel-remove {
    height: 220px !important;
    visibility: hidden !important;
    overflow: hidden;
}
.post-loop-images-carousel div {
    float: left;
    text-align: center;
    margin: 0 0 15px;
}
.blog-post-side-layout .post-loop-images-carousel div {
    margin: 0;
}
.post-loop-images-carousel img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.hentry:hover .post-loop-images-prev,
.hentry:hover .post-loop-images-next {
    opacity: 1;
    transform: scale(1);
}

.single .entry-thumbnail {
    margin: 20px 0;
    text-align: center;
}

/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

article .entry-title {
    margin: 0 0 8px;
    font-size: 30px;
}
article .entry-meta {
    color: #B0B0B0;
    font-size: 0.95em;
    font-style: italic;
}
article .tags-links {
    margin: 0 0 0 10px;
}
article .entry-footer {
    color: #B0B0B0;
    font-size: 0.95em;
    font-style: italic;
}
article .entry-footer span {
    margin: 0 0 0 10px;
}
article .entry-footer span:first-child {
    margin: 0;
}

/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.comments-area {
    
}

.comments-title {
    font-size: 18px;
}

.comment-list {
    margin: 0;
    padding: 20px 0 0;
    list-style-type: none;
    clear: both;
}

.comment-list li {
    margin: 0;
    padding: 0 0 10px;
}

.comment {
    
}

.comment-author {
    float: left;
    padding: 4px 0 0;
    width: 60px;
}

.comment-container {
    margin-left: 65px;
}

.comment-author .avatar {
    border: 2px solid #DCDCDC;
}

.comment-meta cite {
    display: block;
    font-size: 13px;
    font-weight: 600;
}

.comment-meta > a {
    font-size: 11px;
}

.comment-content {
    
}

.comment .reply {
    text-align: right;
}

.comments-area label {
    float: left;
    min-width: 10.5%;
    padding: 6px 0 0;
}

.comments-area input[type="text"],
.comments-area input[type="email"],
.comments-area input[type="password"],
.comments-area input[type="search"] {
    padding: 0.8% 1%;
    width: 75%;
}

#comments ul {
    margin-left: 2em;
}
#comments li {
    list-style-type: none;
}

.post-password-required input {
    max-width: 280px;
    margin: 0 5px;
}

/*--------------------------------------------------------------
11.0 Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
12.0 Media
--------------------------------------------------------------*/
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}

.wp-caption-text {
	text-align: center;
	background-color: #FCFCFC;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08) inset;
	border-radius: 0 0 3px 3px;
}

.wp-caption .wp-caption-text {
	margin: 0;
	padding: 6px 10px;
}

/*--------------------------------------------------------------
12.2 Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}



body.show-main-menu #main-menu {
    right: 0px;
}
body.show-main-menu #page {
    right: 260px;
}

/*--------------------------------------------------------------
Fallback CSS for Customizer Library Styles
--------------------------------------------------------------*/
body,
.widget-area .widget a,
.site-footer-widgets .widget a {
    color: #4F4F4F;
}
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #5E5E5E;
	font-weight:700;
}

.woocommerce table.cart th,
.woocommerce-page #content table.cart th,
.woocommerce-page table.cart th,
.woocommerce input.button.alt,
.woocommerce-page #content input.button.alt,
.woocommerce table.cart input,
.woocommerce-page #content table.cart input,
.woocommerce-page table.cart input,
button, input[type="button"],
input[type="reset"],
input[type="submit"] {
    font-family: 'Raleway', sans-serif;
}

a,
.site-title a,
.search-btn,
.error-404.not-found .page-header .page-title span,
.search-button .fa-search  {
    color: #29a6e5;
}


#comments .form-submit #submit,
.search-block .search-submit,
.no-results-btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.home-slider-prev,
.home-slider-next,
.woocommerce ul.products li.product a.add_to_cart_button, .woocommerce-page ul.products li.product a.add_to_cart_button,
.woocommerce ul.products li.product .onsale, .woocommerce-page ul.products li.product .onsale,
.woocommerce button.button.alt,
.woocommerce-page button.button.alt,
.woocommerce input.button.alt:hover,
.woocommerce-page #content input.button.alt:hover,
.woocommerce .cart-collaterals .shipping_calculator .button,
.woocommerce-page .cart-collaterals .shipping_calculator .button,
.woocommerce a.button,
.woocommerce-page a.button,
.woocommerce input.button,
.woocommerce-page #content input.button,
.woocommerce-page input.button,
.woocommerce #review_form #respond .form-submit input,
.woocommerce-page #review_form #respond .form-submit input,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.single-product span.onsale,
.header-cart:hover .header-cart-checkout .fa,
.main-navigation a:hover,
.main-navigation li.current-menu-item > a,
.main-navigation li.current_page_item > a,
.main-navigation li.current-menu-parent > a,
.main-navigation li.current_page_parent > a,
.main-navigation li.current-menu-ancestor > a,
.main-navigation li.current_page_ancestor > a,
.main-navigation button,
.wpcf7-submit {
    background: inherit;
    background-color: #29a6e5;
}

.header-cart-checkout.cart-has-items .fa-shopping-cart {
    background-color: #29a6e5 !important;
}

.woocommerce ul.products li.product .onsale:after,
.woocommerce-page ul.products li.product .onsale:after {
    border-right: 4px solid #29a6e5;
}

a:hover,
.widget-area .widget a:hover,
.site-footer-widgets .widget ul li a:hover,
.search-btn:hover,
.search-button .fa-search:hover,
.woocommerce #content div.product p.price,
.woocommerce-page #content div.product p.price,
.woocommerce-page div.product p.price,
.woocommerce #content div.product span.price,
.woocommerce div.product span.price,
.woocommerce-page #content div.product span.price,
.woocommerce-page div.product span.price,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active {
    color: #266ee4;
}

.main-navigation button:hover,
#comments .form-submit #submit:hover,
.search-block .search-submit:hover,
.no-results-btn:hover,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.home-slider-prev:hover,
.home-slider-next:hover,
.woocommerce input.button.alt,
.woocommerce-page #content input.button.alt,
.woocommerce .cart-collaterals .shipping_calculator .button,
.woocommerce-page .cart-collaterals .shipping_calculator .button,
.woocommerce a.button:hover,
.woocommerce-page a.button:hover,
.woocommerce input.button:hover,
.woocommerce-page #content input.button:hover,
.woocommerce-page input.button:hover,
.woocommerce ul.products li.product a.add_to_cart_button:hover, .woocommerce-page ul.products li.product a.add_to_cart_button:hover,
.woocommerce button.button.alt:hover,
.woocommerce-page button.button.alt:hover,
.woocommerce #review_form #respond .form-submit input:hover,
.woocommerce-page #review_form #respond .form-submit input:hover,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover,
.wpcf7-submit:hover {
    background: inherit;
    background-color: #266ee4;
}
.main-menu-container .site-container{
	background: #95cb6e;
	color:#fff;
	padding:0;
}
header ul.menu li>a:hover, header .current_page_item>a{
	-webkit-box-shadow: 2px 0px 41px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 0px 41px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 0px 41px 0px rgba(0,0,0,0.75);
}
#masthead>.site-container{
	background:#f9f9f8;
	height: 142px;
	opacity: 0.9;
}
footer .site-container{
	background:#eff0ee;
}
#why_us{
	width:1170px;
	height:611px;
	background:url(images/why-us.jpg) 0 0 no-repeat;
	position:relative;
}
.zag{
	font-size:33px;
	font-weight:700;
	text-align:center;
	line-height:100px;
	text-transform:uppercase;	
	font-family:rhinob;
}
#actions{
	position:relative;
}
#actions .action_img{
	display:inline-block;
}
#actions .action_img:nth-child(odd){
	margin-right:0;
	right:0;
	float:right;
}
#actions .action_img:nth-child(even){
	margin-left:0;
	left:0;
}
.act_txt{
	padding:33px 70px;
	font-size:18px;
	text-align:justify;
	text-indent:33px;
}
/*.item{
	width: 300px;
}
div#last_kuhni {
    padding-bottom: 30px;
    margin-bottom: 77px;
}*/
.center{
	margin:0 auto;
	left:0;
	right:0;
	display:block;
}
.new_butt{
	padding:10px 33px;
	border:2px solid #95cb6e;
	width:210px;
	border-radius:25px;
	color:#95cb6e;
	text-transform:uppercase;
	font-weight:700;
	text-align:center;
	margin-top: 21px;
}
.new_butt_otz{
	padding:10px 33px;
	border:2px solid #95cb6e;
	width:250px;
	border-radius:25px;
	color:#95cb6e;
	text-transform:uppercase;
	font-weight:700;
	text-align:center;
	margin-top: 21px;
	cursor:pointer;
}
.new_butt:hover,.new_butt_otz:hover,.new_buttt:hover{
	background:#95cb6e;
	color:#fff;
}

.page-content,
.entry-content,
.entry-summary {
	padding: 33px 70px;
    font-size: 18px;
    text-align: justify;
    text-indent: 33px;
    padding-bottom: 0;
}
.otz_wr{
	display:none;
	border-spacing:21px;
}
.catalog_wr{
	display:table;
	border-spacing:21px;
}
.otz_it{
	border: 2px #ffab24 solid;
    width: 345px;
    height: 230px;
    display: inline-block;
    position: relative;
    padding: 33px;
    min-width: 345px;
    margin: 10px;
}
.cat_it{
	border: 2px #ffab24 solid;
    width: 345px;
    height: 230px;
    display: inline-block;
    position: relative;
    margin: 15px;
}
.catalog_txt {
    text-align: justify;
    width: 333px;
    height: 218px;
	overflow:hidden;
	z-index:21;
	position:relative;
}
.catalog_txt img{
    width: 333px;
    height: auto;
}
.otz_r{
	border:2px #95cb6e solid;
	width:345px;
	height:230px;
	display:block;
	position:absolute;
	top: -10px;
    left: -10px;
	z-index:0;
}
.kname{
	text-align:center;
	position:absolute;
	bottom:30px;
	width:275px;
	font-weight:700;
	font-family:'rhinom';
}
.otz_d{
	text-align:center;
	position:absolute;
	bottom:15px;
	width:275px;
	font-weight:700;
	font-family:'rhinom';
}
.kname a{
	color:#ffab24;
	text-decoration:underline;
}
.kname a:hover{
	color:#95cb6e;
}
div#otzivi {
    position: relative;
}
.otz_d span{
	color:#999;
}
.qt_s{
	display:inline-block;
	margin-right:3px;
    width:22px;
	height:18px;
	background:url(images/quote1.png) 0 0 no-repeat;
	position: absolute;
    top: 9px;
    left: 9px;
}
.qt_e{
	display:inline-block;
	margin-right:3px;
    width:22px;
	height:18px;
	background:url(images/quote21.png) 0 0 no-repeat;
	position: absolute;
    bottom: 18px;
    right: 18px;
}
.otz_txt {
    text-indent: 33px;
    text-align: justify;
}
.pol_wr{
	display:table;
	border-spacing:10px;
}
.pol_item{
	border:2px solid #95cb6e;
	width:370px;
	height:309px;
	display:table-cell;
}
.pol_item a{
	font-size:16px;
	display:block;
	text-decoration:underline;
	color:#97cb70;
	font-weight:700;
    padding: 21px 0 21px 36px;
}
.pol_item a.a_link{
	color:#3a3a3a;
}
/*.pol_item a.a_link:before{
	content:"\f061";
	font-family:'FontAwesome';
	color:#97cb70;
}*/
.pol_row {
    padding: 21px 0 21px 57px;
	border-bottom:1px solid #eee;
	background:url(images/row-pol.png) 30px 25px no-repeat;
}
.pol_row a{
	padding:0;
}
.pol_zag {
    text-align: center;
    padding: 14px 0px;
    font-size: 16px;
    color: #fff;
    background: #97cb70;
    text-transform: uppercase;
}
#content{
	padding-bottom:55px;
}
/* -------- Footer Styling -------- */
.site-footer {
	margin:0;
}
.site-footer .site-container{
	background:#f0f0ee;
	min-height:170px;
}
.site-footer .site-container>div{
	height:170px;
	float:left;
	position:relative;
}
.ft_left{
	width:275px;
	padding:30px;
}
.ft_ct{
	width:470px;
	padding-top: 30px;
}
.ft_right {
    width: 421px;
	padding-top:30px;
	padding-right:30px;
}
.src_txt{
	border-radius:25px;
	border:1px #a3a3a3 solid;
	font-size:16px;
	padding:10px;
	font-family:'rhinom';
	width:100%;
}
.ft_cont {
    text-align: center;
	margin-top: 9px;

}
.ft_cont div {
    display: inline-block;
}
.ft_phone{
	font-size:20px;
	font-family:'rhinob';
	color:#000;
}
.ft_graf{
	font-weight:700;
	color: #000;
}
.butt_ora{
	padding: 10px 33px;
    width: 210px;
    border-radius: 25px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
	background:#ffab24;
	cursor:pointer;
}
.fafb{
	color:#475a95;
}
.fatw{
	color:#6daadf;
}
.favk{
	color:#5a74a0;
}
.fagp{
	color:#ca4438;
}
.ft_back div {
    display: inline-block;
}
.fa-stack:hover .fa-circle{
	color:#ffab24;
}
.ft_back {
    margin-top: 6px;
    text-align: center;
}
#menu-nizhnee-menyu{
	margin:0;
	list-style:none;
}
#menu-nizhnee-menyu li{
	display:inline-block;
}
.shrl{
	width:215px;
    text-align: center;
}
.top_back{
	color:#29a6e5;
	text-transform:uppercase;
	font-weight:700;
	text-decoration:underline;
	cursor:pointer;
	font-size:17px;
}
.graf{
	color:#000;
	font-size:14px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.accounts {
    display: inline-block;
}
.accounts .fa {
    margin-right: 6px;
}
.fa-skype{
	color:#62a8cc;
}
.fa-certificate{
	color:#64a155;
}
.site-header-right>div{
	float:left;
}
.shrr a{
	display:block !important;
}
#main_catalog{
	min-height:606px;
}
.cat_selector ul, .cat_selector li, .tab_selector ul, .tab_selector li{
	list-style:none;
	margin:0;
}
.cat_selector ul,.tab_selector ul{
	display:table;
	width:100%;
}
.cat_selector li,.tab_selector li{
	display:table-cell;
	font-size:15px;
	position:relative;
}
.cat_selector a.act,.tab_selector a.act{
	border-bottom: 5px solid #ffab24;
    text-transform: uppercase;
    color: #ffab24;
    font-family: 'rhinob';
    margin-bottom: -1px;
}
.cat_selector li a,.tab_selector li a{
	text-align:center;
	display:block;
	padding:14px 6px;
	color:#4f4f4f;
	cursor:pointer;
}
.kit_selector{
    display: table;
    margin: 0 auto;
    border-spacing: 3px;
    background: #fff;
	bottom: 0;
    margin-bottom: 0;
    position: relative;
    top: 400px;
}
.kitc_selector{
    display: table;
    margin: 0 auto;
    border-spacing: 3px;
    background: #fff;
    position: relative;
    top:0;
}
#kit_selector{
	top:0;
}
.kit_it{
    display: table-cell;
    position: relative;
    cursor: pointer;
    min-width: 150px;
    width: 150px;
    height: 150px;
    vertical-align: middle;
}
.kitch_img img{
    width: auto;
    max-width: 1170px;
    height: 450px;
    max-height: 450px;
    margin: 0 auto;
    display: block;
}
.slider_main{
    background: #f0f0f0;
	position:relative;
}
.kit_tb{
    display: none;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
	background: rgba(255,255,255,0.7);
}
.kit_tbp{
    display: table;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
	background: rgba(255,255,255,0.7);
}
.kit_tb_c{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.kit_it span{
	display:block;
	font-family:'rhinob';
	color:#000;
	font-size:14px;
}
.kit_it:hover .kit_tb{
	display:table;
}
.kit_it a{
	color:#000;
	font-family:'rhinob';
}
.tabs_on_main{
    min-height: 300px;
    border-bottom: 3px solid #fff;
	position: absolute;
    width: 100%;
	display:block;
	-webkit-transition: opacity 0.5s ease-out 0.5s;
	-moz-transition: opacity 0.5s ease-out 0.5s;
	-o-transition: opacity 0.5s ease-out 0.5s;
	transition: opacity 0.5s ease-out 0.5s;
}
.kitch_img{
    width: 1170px;
    height: 450px;
    overflow: hidden;
	position:absolute;
	background: rgba(240,240,240,1);
background: -moz-linear-gradient(left, rgba(240,240,240,1) 0%, rgba(194,194,194,1) 53%, rgba(240,240,240,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(240,240,240,1)), color-stop(53%, rgba(194,194,194,1)), color-stop(100%, rgba(240,240,240,1)));
background: -webkit-linear-gradient(left, rgba(240,240,240,1) 0%, rgba(194,194,194,1) 53%, rgba(240,240,240,1) 100%);
background: -o-linear-gradient(left, rgba(240,240,240,1) 0%, rgba(194,194,194,1) 53%, rgba(240,240,240,1) 100%);
background: -ms-linear-gradient(left, rgba(240,240,240,1) 0%, rgba(194,194,194,1) 53%, rgba(240,240,240,1) 100%);
background: linear-gradient(to right, rgba(240,240,240,1) 0%, rgba(194,194,194,1) 53%, rgba(240,240,240,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#f0f0f0', GradientType=1 );
}
.hide{
	display:none !important;
	z-index: 0 !important;
}
.kit_it_tb{
	display:table;
}
.main_sl{
	height:755px;
	width:1170px;
	position:relative;
}
.main_sl div{
	position:absolute;
	cursor:pointer;
}
.main_sl div:hover{
	box-shadow:0 0 0 4px rgb(33, 33, 33), 0 4px 18px rgba(0, 0, 0, 0.7);
	z-index:9;
}
.main_sl img{
	max-width:1170px;
}
.img_item_1{
	width:670px;
	height:400px;
	overflow:hidden;
	margin: 0 3px 3px 0;
}
.img_item_1 img{
	width:670px;
	height:auto;
}
.img_item_2{
	width:333px;
	height:350px;
	overflow:hidden;
    top: 403px;
}
.img_item_2 img{
	width:auto;
	height:350px;
}
.img_item_3{
	width:333px;
	height:350px;
	overflow:hidden;
    top: 403px;
    left: 337px;
}
.img_item_3 img{
	width: auto;
    height: 350px;
}
.img_item_4{
	width:497px;
	height:200px;
	overflow:hidden;
	right:0;
}
.img_item_4 img{
	width:497px;
	height:auto;
}
.img_item_5{
	width: 497px;
    height: 550px;
    overflow: hidden;
    right: 0;
    top: 203px;
}
.img_item_5 img{
	width:auto;
	height:550px;
}
.main_sl i.fa.fa-search-plus{
    position: absolute;
    color: rgba(255,255,255,0.8);
    bottom: 10px;
    right: 10px;
    font-size: 33px;
}
.why_us{
	font-size:14px;
	position:absolute;
	color:#3a3a3a;
	font-family:'rhinob';
	text-align:center;
}
.why_us.us1{
    top: 258px;
    left: 161px;
    width: 149px;
}
.why_us.us2{
    top: 258px;
	left: 444px;
    width: 163px;
}
.why_us.us3{
    top: 258px;
	left: 733px;
    width: 203px;
}
.why_us.us4 {
    top: 482px;
    left: 281px;
    width: 203px;
}
.why_us.us5 {
    top: 482px;
    left: 633px;
    width: 124px;
}
a.new_butt.cat.center{
    width: 277px;
    margin-bottom: 33px;
    margin-top: 33px;
}
.kitch_it_pr{
	width:470px;
	height:221px;
	position:absolute;
	top: 90px
}
.kitch_price{
    background: rgba(255,255,255,0.9);
    width: 342px;
    height: 177px;
    margin-top: 16px;
    padding-left: 33px;
    position: absolute;
    z-index: 999;
}
.kitch_bord1{
    width: 344px;
    height: 195px;
    border-right: 2px solid rgba(255,255,255,0.9);
    border-top: 2px solid rgba(255,255,255,0.9);
    border-bottom: 2px solid rgba(255,255,255,0.9);
    position: absolute;
}
.kitch_bord2{
    width: 360px;
    height: 194px;
    border-right: 2px solid rgba(255,255,255,0.9);
    border-top: 2px solid rgba(255,255,255,0.9);
    border-bottom: 2px solid rgba(255,255,255,0.9);
    position: absolute;
    top: 16px;
}
.kitch_it_pr_name{
    font-size: 24px;
    font-family: 'rhinob';
    padding-top: 21px;
    line-height: 31px;
}
.kitch_it_pr_price{
    font-size: 18px;
}
.kitch_price .new_butt{
    margin-top: 10px;
    display: block;
	border:2px solid #ffab24;
	color:#ffab24;
}
.kitch_price .new_butt:hover{
	background:#ffab24;
	color:#fff;
}
.kit_tb_kitch {
    display: table;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 15px;
    background: rgba(0,0,0,0.21);
	color:fff;
}
.kit_tb_kitch span{
	color:#fff;
}
div#kitch_catalog {
    height: 280px;
	border-top: 2px solid #95cb6e;
    border-bottom: 2px solid #95cb6e;
    margin: 33px 0;
}
div#kitch_head {
    width: 1070px;
	margin-top: 21px;
}
.tabs_on_kitch {
    min-height:0;
    border-bottom: 3px solid #fff;
    position: absolute;
    width: 100%;
    top: 21px;
}
.zag.kitch h1{
	font-family:'rhinob';
	text-align:left;
	color:#000;
	text-transform:none;
}
.zag h1{
	display:block;
	margin-top:21px;
	font-family:'rhinob';
	text-align:center;
	color:#000;
	text-transform:none;
}
.some_selector{
	height:50px;
	display:table;
	width:100%;
	border-top:1px solid #95cb6e;
	border-bottom:1px solid #95cb6e;
    margin-top: 21px;
}
.kitchen_price span {
    display: block;
    font-size: 20px;
    font-family: 'rhinom';
	font-weight: 600;
}
.kitchen_price{
	font-size:14px;
	margin-top: 21px;
}
.buttons.center {
    display: table;
    border-spacing: 21px;
}
div.new_butt.kitch.center {
    display: table-cell;
    width: 300px;
    padding: 21px;
    border-radius: 50px;
    position: relative;
    font-size: 16px;
    font-family: 'rhinob';
	border: 3px solid #95cb6e;
	cursor:pointer;
}
.cta_label {
    color: #fff;
    height: 66px;
    background: rgba(0,0,0,0.6);
    bottom: 7px;
    position: absolute;
    width: 333px;
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
	z-index:33;
}
.zagh2{	
	font-size: 25px;
    font-family: 'rhinob';
}
.zagh2 h1{
    font-size: 25px;
    font-weight: 700;
    text-align: left;
    line-height: 100px;
    font-family: rhinob;
}
.ind{
	padding:0 42px;
	position:relative;
}
.rel{
	position:relative;
}
.cont_txt{
	padding:0 42px;
	text-align:justify;
	text-indent:33px;
	font-size:14px;
}
.parameters{
	font-size:14px;
}
.parameters span{
	font-family:'rhinob';
}
.cat_it:hover .catalog_txt{
	box-shadow:0 0 0 4px rgb(33, 33, 33), 0 4px 18px rgba(0, 0, 0, 0.7);	
}
div#complect{
    display: none;
    margin: 0 auto;
    padding-top: 25px;
}
#complect div.comp_cat{
	width:200px;
	height:200px;
	margin-left: 5px;
	border:1px #aeaeae solid;
	position:relative;
}
.owl_prev_1{
    top: 210px !important;
}
.comp_cat span{
    height: 50px;
    position: absolute;
    bottom: 0;
    text-align: center;
    display: block;
    width: 100%;
    font-size: 18px;
    color: #fff;
    background: #95cb6e;
}
.comp_cat img {
    margin: 0 auto;
    display: block;
}
.comp_cat a{
    color: #fff;
}
.owl_prev_21 {
    margin-top: 124px;
}
div#kitch_catalogg {
    border-bottom: 1px solid #ddd;
}
div#kitch_catalogg {
    border-bottom: 1px solid #ddd;
}
div#kitch_catalogg a:hover{
    color:#ffab24;
	font-weight:700;
}
div#kitch_catalogg a.current_page_item, .main-navigation.sub_menu a.current_page_item{
	border-bottom: 5px solid #ffab24;
    text-transform: uppercase;
    color: #ffab24;
    font-family: 'rhinob';
    margin-bottom: -1px;
    background: inherit;
}
.tb {
    display: table;
	width: 100%;
}
.tr{
	display:table-row;
}
.th,.td{
	display:table-cell;
    border: 1px #eee solid;
    vertical-align: middle;
}
.th{
    background: #94ca6e;
    color: #fff;
    font-family: 'rhinob';
    font-size: 16px;
    text-transform: uppercase;
    height: 60px;
}
.td{
    height: 90px;
    line-height: 70px;
    font-size: 16px;
    font-family: 'rhinom';
}
.td a{
    font-size: 16px;
    font-family: 'rhinom';
    color:#ffab24;
}
.td a:hover{
	text-decoration:underline;
    color:#94ca6e;
}
.td img{
	height: 70px;
    width: 70px;
    border-radius: 5px;
    float: left;
    margin-left: 30px;
}
.td span{
	font-family:'rhinob';
}
.new_butt.kitch.center.or {
    border: 3px solid #ffab24;
    color: #ffab24;
}
.new_butt.kitch.center.or a{
	color:inherit;
}
.new_butt.kitch.center.or:hover{
    color: #fff;
	background:#ffab24;
}
.cart_del:hover{
	text-decoration:underline;
	color:#f00;
	cursor:pointer;
}
.otz_it.otz2{
	width:1000px;
	height:auto;
	padding-bottom:77px;
}
.otz_it.otz2 .otz_r{
	width: 1000px;
    height: 100%;
}
.otz_it.otz2 .otz_txt{
	text-align:center;
}
.otz_it.otz2 .kname, .otz_it.otz2 .otz_d{
	width:900px;
}
.otzivi_wrapper {
    width: 1021px;
}
.main-navigation.sub_menu a{
	color:#000;
	text-transform:none;
	font-size:15px;
}
.main-navigation.sub_menu li:hover, .main-navigation.sub_menu a:hover{
	background:#fff;
	color:#ffab24;
}


#bd {
    background: #000;
    opacity: 0.7;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9998;
}
#us_frm2 {
    width: 399px;
    height: 336px;
    margin-top: -168px;
}
#us_frm3 {
    width: 696px;
    height: 490px;
    margin-top: -250px;
	padding-top:0;
}
#us_frm4 {
    width: 696px;
    height: 600px;
    margin-top: -300px;
	padding-top:0;
}
#us_frm5 {
    width: 696px;
    height: 490px;
    margin-top: -250px;
	padding-top:0;
}
.user_form {
    display: none;
    position: fixed;
    background: #fff;
    z-index: 9999;
    top: 50%;
    font-size: 19px;
	border-radius:5px;
}
.user_form.show_frm {
    display: block;
	position:relative;
	top:0;
    background: #fff;
    z-index: 9999;
    font-size: 19px;
	border-radius:5px;
	width:697px;
}
.user_form form{
	padding:21px;
	padding-top:0;
}
.user_form select{
	font-size:21px;
}
.user_form input[type=text] {
    width: 100%;
	border: none;
    border-bottom: 1px solid #aaa;
	font-family:'rhinol';
}
.user_form input,.user_form select{
    font-size: 16px;
    padding: 10px 0;
}
.f_lab {
    margin: 11px 0 11px 0;
	font-family:'rhinom';
	position:relative;
}
.user_form button {
    cursor: pointer;
    margin-top: 16px;
}
.butt_or {
    background-color: #fff;
    border: none;
    color: #95cb6e;
    line-height: 44px;
    font-size: 18px;
    height: 48px;
    font-family: inherit;
    padding: 0 21px;
    width: 222px;
    position: absolute;
    cursor: pointer;
	border-radius:25px;
	border:2px solid #95cb6e;
}
.butt_or:hover{
    color:#fff;
    background-color:#95cb6e;
}
.user_form textarea {
    font-size: 21px;
    width: 654px;
}
.form_header{
	height: 50px;
    line-height: 50px;
    background: #95cb6e;
    color: #fff;
    padding: 0 21px;
}
.form_header .fa{
    font-size: 33px;
    float: right;
    margin-top: 6px;
	cursor:pointer;
}
.form_header .fa:hover{
	color:#ffab24;
}
.f_inp select {
    border: none;
    border-bottom: 1px solid #aaa;
    font-family: 'rhinol';
}
.sizes {
    display: inline-block;
    width: 198px !important;
    margin-right: 21px;
    border: none !important;
    border-bottom: 1px solid #aaa !important;
}
.sizes:last-child{
	margin-right:0;
}
.f_inp label {
    display: block;
}
form.frm4{
	height:475px;
	overflow:auto;
}
.fs-type {
    width: 305px;
    margin-right: 21px;
}
select#tip_stoleshnitsi {
    margin-right: 0;
}
div#us_frm4_mess {
    font-family: 'rhinob';
    text-align: center;
    padding-top: 66px;
    color: #ffab24;
}
.nx-breadcrumb {
    padding-left: 50px;
}
.nx-breadcrumb a:hover,.cont_txt a:hover{
	color:#ffab24;
}
.kitc_sele_but .owl-prev, .kitc_sele_but .owl-next{
	top:63px;
}
.kit_it.this_it{
	cursor: default;
    width: 180px;
    height: 180px;
}
.kit_it.this_it img {
    border: 8px solid #95cb6e;
	width: 180px;
    height: 180px;
}
.kit_it.this_it .kit_tb_kitch {
	background:none;
}
.ft_ct .menu-item-has-children {
    display: inline;
    width: 200px;
    vertical-align: top;
}
.ft_ct ul,.ft_ct ol {
    margin-bottom: 0;
    margin-left: 0;
}
.ft_ct a:hover{
	color:#ffab24;
}
.cart_form {
    margin: 21px 42px;
    background: #fff;
    border: 1px #eee solid;
	padding:21px;
    height: 355px;
}
.cart_form_head {
    text-align: center;
    padding-bottom: 21px;
    font-size: 21px;
    font-family: 'rhinob';
}
div#cart_form input[type=text] {
    width: 500px;
    font-size: 21px;
	margin-bottom:21px;
	border: none;
    border-bottom: 1px solid #999;
}
input#cart_nam3 {
    margin-right: 38px;
}
textarea#cart_comm3 {
    margin-bottom: 21px;
	font-size:21px;
	border: none;
    border-bottom: 1px solid #999;
}
div.new_buttt.kitch.center {
    display: inline-block;
    width: 100px;
    padding: 6px;
    border-radius: 50px;
    position: absolute;
    right: 0;
    margin-right: 0;
    margin-bottom: 0;
    bottom: 5px;
    font-size: 12px;
    font-family: 'rhinob';
    border: 3px solid #95cb6e;
    cursor: pointer;
}
.cta_label a {
    margin-right: 90px;
	display: inline-block;
}
.cycloneslider-template-default .cycloneslider-pager span {
	border-radius:0 !important;
	background:#ffab24 !important;
}
.cycloneslider-template-default .cycloneslider-pager span.cycle-pager-active{
	background:#95cb6e !important;
}
.td .parameters {
    line-height: 25px;
}
#stick{
	position:fixed;
	top:50%;
	margin-top:-82px;
	padding:6px;
	right:0;
	left:auto;
	width:54px;
	height:164px;
	background:/*rgba(255,255,255,0.8)*/#95cb6e;
	border-radius:3px;
	-webkit-box-shadow: -3px 2px 4px 0px rgba(50, 50, 50, 0.4);
    -moz-box-shadow: -3px 2px 4px 0px rgba(50, 50, 50, 0.4);
    box-shadow: -3px 2px 4px 0px rgba(50, 50, 50, 0.4);
}
#stick a{
	display:block;
	width:42px;
	height:42px;
	margin-bottom:12px;
	cursor:pointer;
}
#stick a:hover{
	-webkit-box-shadow: 2px 0px 41px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 0px 41px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 0px 41px 0px rgba(0,0,0,0.75);
}
#stick a.srav{
	background:url(images/revert-hand-drawn-arrows.png) 3px 0 no-repeat;
}
#stick a.rascc{
	background:url(images/calculator.png) 0 0 no-repeat;
}
#stick a.calll{
	background:url(images/phone-call.png) 0 0 no-repeat;
}