.rg-image-wrapper{
	position:relative;
	min-height:20px;
}
.rg-image{
	position:relative;
	text-align:center;
	line-height:0px;
    height: 450px;
    overflow: hidden;
	background: rgba(240,240,240,1);
background: -moz-linear-gradient(left, rgba(240,240,240,1) 0%, rgba(194,194,194,1) 53%, rgba(240,240,240,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(240,240,240,1)), color-stop(53%, rgba(194,194,194,1)), color-stop(100%, rgba(240,240,240,1)));
background: -webkit-linear-gradient(left, rgba(240,240,240,1) 0%, rgba(194,194,194,1) 53%, rgba(240,240,240,1) 100%);
background: -o-linear-gradient(left, rgba(240,240,240,1) 0%, rgba(194,194,194,1) 53%, rgba(240,240,240,1) 100%);
background: -ms-linear-gradient(left, rgba(240,240,240,1) 0%, rgba(194,194,194,1) 53%, rgba(240,240,240,1) 100%);
background: linear-gradient(to right, rgba(240,240,240,1) 0%, rgba(194,194,194,1) 53%, rgba(240,240,240,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#f0f0f0', GradientType=1 );
}
.rg-image img{
	width: auto;
	max-width:1170px;
    height: 450px;
    max-height: 450px;
    margin: 0 auto;
    display: block;
}
.rg-image-nav a{
	position:absolute;
	top:0px;
	left:0px;
	background:#000 url(../images/nav.png) no-repeat -20% 50%;
	width:28px;
	height:100%;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.3;
	outline:none;
	-moz-border-radius: 10px 0px 0px 10px;
	-webkit-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;
}
.rg-image-nav a.rg-image-nav-next{
	right:0px;
	left:auto;
	background-position:115% 50%;
	-moz-border-radius: 0px 10px 10px 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	border-radius: 0px 10px 10px 0px;
}
.rg-image-nav a:hover{
	opacity:0.8;
}
.rg-caption {
	text-align:center;
	margin-top:15px;
	position:relative;
}
.rg-caption p{
	font-size:11px;
	letter-spacing:2px;
	font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
	line-height:16px;
	padding:0 15px;
	text-transform:uppercase;
}
.rg-view{
	display:none;
}
.rg-view a{
	display:block;
	float:right;
	width:16px;
	height:16px;
	margin-right:3px;
	background:#464646 url(../images/views.png) no-repeat top left;
	border:3px solid #464646;
	opacity:0.8;
}
.rg-view a:hover{
	opacity:1.0;
}
.rg-view a.rg-view-full{
	background-position:0px 0px;
}
.rg-view a.rg-view-selected{
	background-color:#6f6f6f;
	border-color:#6f6f6f;
}
.rg-view a.rg-view-thumbs{
	background-position:0px -16px;
}
.rg-loading{
	width:46px;
	height:46px;
	position:absolute;
	top:50%;
	left:50%;
	background:#000 url(../images/ajax-loader.gif) no-repeat center center;
	margin:-23px 0px 0px -23px;
	z-index:100;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	opacity:0.7;
}
div#rg-gallery {
    margin-top: 21px;
}
.es-carousel-wrapper{
    padding: 10px 44px;
    -moz-border-radius: 10px;
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.9);
    position: relative;
}
.es-carousel{
	overflow:hidden;
	background:#fff;
	padding: 10px 4px;
}
.es-carousel ul{
	display:none;
}
.es-carousel ul li{
	height:100%;
	float:left;
	display:block;
}
.es-carousel ul li.selected img{
	box-shadow:0 0 0 4px rgb(33, 33, 33), 0 2px 18px rgba(0, 0, 0, 0.7);
}
.es-carousel ul li.selected{
	z-index:9999;
}
.es-carousel ul li a{
	display:block;
	opacity:0.5;
	-webkit-touch-callout:none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	border:none;
}
.es-carousel ul li.selected a{
	border-color:#fff;
	opacity:1.0;
}
.es-carousel ul li a img{
	display:block;
	border:none;
	height:150px;
	width:150px;
}
.es-nav span{
	position:absolute;
	top:50%;
	left:3px;
	width:14px;
	height:26px;
	margin-top:-13px;
	cursor:pointer;
	font-size: 33px;
}
.es-nav span:hover{
	color:#95cb6e;
}
.es-nav span.es-nav-next{
	right:16px;
	left:auto;
	background-position:top right;
}
.es-nav span:hover{
	opacity:1.0;
}