#features, #slidingFeatures, #sl, #labelFeatures, #basicFeatures, #thumbFeatures {
	background: transparent;
	position: relative;
	width: 415px;
	height: 233px;
	}
.jshowoff {
	width: 1170px;
	margin: 0px 0;
	overflow: hidden;
    height: 810px;
    padding: 5px 0;
}
#basicFeatures, .jshowoff.basicFeatures, .jshowoff.basicFeatures img, .jshowoff.basicFeatures div {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	}
.jshowoff p.jshowoff-slidelinks {
	position: absolute;
	bottom: 15px;
	margin: 0 auto;
	padding: 0;
	left:0;
	right:0;
	width:100px;
	}
.jshowoff-slidelinks a, .jshowoff-controls a {
	display: block;
    color: #000;
    float: left;
    text-decoration: none;
    outline: none;
	}
.jshowoff-slidelinks a:hover, .jshowoff-controls a:hover {
	color: #fff;
	}
.jshowoff-slidelinks a.jshowoff-active, .jshowoff-slidelinks a.jshowoff-active:hover {
	background-color: #b90000;
	color: #000;
	}
p.jshowoff-controls {
	display:block;
	position:absolute;
	bottom:0;
	height: 30px;
	width:415px;
	margin: 0 auto;
    left: 0;
    right: 0;
	margin-bottom:10px;
}
.jshowoff-3-controls
{
	bottom:3px !important;
}
.jshowoff-controls a {
	font-size:21px;
	width:33px;
}
.jshowoff-controls a:hover {
	color:#95cb6e;
}

.jshowoff-play,.jshowoff-1-slidelinks{
	display:none !important;
}
.jshowoff-prev{
	display:block;
	position:absolute;
	z-index:999;
	left:165px;
}
.jshowoff-next{
	display:block;
	position:absolute;
	z-index:999;
	left:215px;
	text-align:right;
	padding-right:0;
}
.jshowoff-next i{
	margin-right:0;
}
.mo>.jshowoff{
	position:relative;
	left:0;
	right:0;
	margin:0 auto;
	width:800px;
	height:450px;
	margin-bottom:21px;
}
#otz_main>.otz_bod{
	margin-left:25px;
}
.mo>.jshowoff> .jshowoff-controls> .jshowoff-prev{
	left:362px;
}
.mo>.jshowoff> .jshowoff-controls> .jshowoff-next{
	left:415px;
}
#otz_main>.otz_bod{
	top:30px;
}
a.jshowoff-next.jshowoff-1-next,a.jshowoff-prev.jshowoff-1-prev {
    font-size: 33px;
}