#features, #slidingFeatures, #sl, #labelFeatures, #basicFeatures, #thumbFeatures {
	background: transparent;
	position: relative;
	width: 815px;
	}
.jshowoff {
	width: 815px;
	margin: 0px 0;
	overflow: hidden;
	height: 333px;
}
#basicFeatures, .jshowoff.basicFeatures, .jshowoff.basicFeatures img, .jshowoff.basicFeatures div {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	}
.jshowoff p.jshowoff-slidelinks {
	position: absolute;
	bottom: 15px;
	margin: 0 auto;
	padding: 0;
	left:0;
	right:0;
	width:100px;
	}
.jshowoff-slidelinks a, .jshowoff-controls a {
	display: block;
	/*background-color: rgba(000,000,000,0.5);*/
	color: #fff;
	float: left;
	text-decoration: none;
	outline: none;
	}
.jshowoff-slidelinks a:hover, .jshowoff-controls a:hover {
	color: #fff;
	}
.jshowoff-slidelinks a.jshowoff-active, .jshowoff-slidelinks a.jshowoff-active:hover {
	background-color: #b90000;
	color: #000;
	}
p.jshowoff-controls {
	display:block;
	position:absolute;
	bottom:0;
	height: 30px;
	width:815px;
}
.jshowoff-3-controls
{
	bottom:3px !important;
}
.jshowoff-controls a {
	font-size:21px;
	width:33px;
}
.jshowoff-controls a:hover {
	color:#ffb901;
}

.jshowoff-play,.jshowoff-1-slidelinks{
	display:none !important;
}
.jshowoff-prev{
	display:block;
	position:absolute;
	z-index:999;
	left:165px;
}
.jshowoff-next{
	display:block;
	position:absolute;
	z-index:999;
	left:215px;
	text-align:right;
	padding-right:0;
}
.jshowoff-next i{
	margin-right:0;
}
#ains .jshowoff-prev{
	left:393px;
}
#ains .jshowoff-next{
	left:433px;
}



